<h1>Parking spot history</h1>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>

<table>
  <thead>
  <tr>
    <th>Spot name</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
    <tr>
      <td><%= history.spot.name %></td>
      <td><%= history.user.full_name if history.user %></td>
      <% if history.spot.reserved == true %>
        <td><%= link_to 'Edit', edit_spot_path(history.spot) if history.user[:full_name] == 'Unverified user' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>
