<h1>Parking spot history</h1>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Spot name</th>
      <th scope="col">Reserved by</th>
      <th scope="col">Reserved at</th>
    </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
    <tr>
      <th scope="col"><%= history.spot.name %></th>
      <td><%= history.user.full_name if history.user %></td>
      <%# if history.spot.reserved == true && history.user[:full_name] == 'Unverified user' %>
<!--        <td><%#= link_to 'Edit', edit_spot_path(history.spot) %></td>-->
      <%# end %>
      <td><%= history.updated_at.in_time_zone('Warsaw').to_time.to_formatted_s :long_ordinal if history.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>
